@font-face {
  font-family: FonteMenu;
  src: url(cuphead_font_pack_by_platyfanatic1_dfa4zap/CupheadMemphis-Medium-merged.ttf);
}

@font-face {
  font-family: FonteShop;
  src: url(cuphead_font_pack_by_platyfanatic1_dfa4zap/CupheadMemphis-Medium-merged.ttf);
}

body {
    background-repeat: no-repeat;
    background-image: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Alegreya Sans';
}

/* Menu */

nav {
    font-family: FonteMenu;
    top: 0;
    position: sticky;
    background-color: transparent;  
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: transparent;  
    margin-left: 68vh; 
}

li { 
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}

li a {
    display: inline-block;
    background-image: url(Imagens/FundoMenu.webp);
    background-size: cover;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 160px;
    color: #303336;
    height: 0.9vw;
}

li a:hover,
.dropdown:hover {
    background-image: url(Imagens/FundoMenuAtivo.webp);
    background-size: cover;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    height: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #303336;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-image: url(Imagens/FundoMenuAtivo.webp);
    background-size: cover;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Pages Configurations */

p {
    width: 85%;
}

div {
    border-width: 5px;
    display: block;
}

#imgp {
    float: right;
    height: 150px;
    width: 135px;
    margin-bottom: 15px;
}

section {
    background-color: #0e191af3;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

#cuphead , #mugman, #thedevil{
    margin-bottom: 6vw;
}

.description, #characters, #phase1, #phase2, #phase3{
    margin-bottom: 4vw;
}

/* Introducao */

#cuphead,
#mugman,
#thedevil {
    text-align: justify;
}

#nome {
    width: 100%;
    height: 50vh;
    margin: auto;
}

/* World 1 Map */

#mapa {
    display: fixed;
    background-image: url(Imagens/Ilha1.png);
    background-repeat: no-repeat;
    background-image: cover;
    background-size: 100% 100%;
    width: 219vh;
    height: 44vw;
    padding: 0;
    margin-left: 0;
    border: none;
}

.icon {
    height: 7vw;
    width: 16vh;
}

.card {
    height: 7vw;
    display: none;
}

#hildaberg {
    float: right;
    display: flex;
    margin-right: 26.5vh;
    margin-top: 1vw;
    height: 1px;
}

#hildaberg:hover .card {
    display: flex;
    margin-right: 4px;
}

#cagneycarnation {
    float: right;
    display: flex;
    margin-right: 8vh;
    margin-top: 10vw;
    height: 1px;
}

#cagneycarnation:hover .card {
    display: flex;
    margin-right: 4px;
}

#house {
    float: left;
    display: flex;
    margin-left: 40vh;
    margin-top: 10.5vw;
}

#house:hover .card {
    display: flex;
    margin-left: 4px;
}

#goopylegrande {
    position: absolute;
    margin-left: 115vh;
    margin-top: 7.1vw;
    display: flex;
    height: 1px;
}

#goopylegrande:hover .card {
    display: flex;
    margin-left: 4px;
}

#shop {
    position: absolute;
    margin-left: 118.4vh;
    margin-top: 15vw;
    display: flex;
    height: 1px;
}

#shop:hover .card {
    display: flex;
    margin-left: 4px;
}

#therootpack {
    position: absolute;
    margin-left: 91vh;
    margin-top: 23vw;
    display: flex;
    height: 1px;
}

#therootpack:hover .card {
    display: flex;
    margin-left: 4px;
}

#ribbycroaks {
    position: absolute;
    margin-left: 111.8vh;
    margin-top: 32vw;
    display: flex;
    height: 1px;
}

#ribbycroaks:hover .card {
    display: flex;
    margin-left: 4px;
}

/* Items shop */

table {
    text-align: center;
    width: 100%;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid white;
    border-collapse: collapse;
    font-family: FonteShop;
    font-size: 18px;
    
}

table th{
    background-image: url(Imagens/FundoTitle.webp);
    font-size: 25px;
}

table td{
    background-image: url(Imagens/FundoItens.webp);
}

.container{
    height: 100%;
    width: 100%;
    position: relative;
}

.tv{
    position: relative;
    width: 100%;
    height: 100%;
}

.demonstration {
    position: absolute;
    border-radius: 10px;
    margin-top: 1vw;
    margin-left: 2vh;
    width: 75%;
    height: 85%;    
}

.coin {
    width: 50px;
    height: 50px;
}

#charms {
    margin-top: 4vw;
    margin-bottom: 4vw;
}

#weapons{
    margin-bottom: 4vw;
}