body {
    background-repeat: no-repeat;
    background-image: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Alegreya Sans';
}

/* Menu */

nav {
    top: 0;
    position: sticky;
    background-color: #333;  
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;  
    margin-left: 93vh;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Pages Configurations */

p {
    width: 75%;
}

div {
    border-width: 5px;
    display: block;
    height: 150px;
}

#imgp {
    float: right;
    height: 150px;
    width: 135px;
    margin-bottom: 15px;
}

section {
    background-color: #0e191af3;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

/* Introducao */

#cuphead,
#mugman,
#thedevil {
    text-align: justify;
}

#nome {
    width: 100%;
    height: 50vh;
    margin: auto;
}

/* World 1 Map */

#mapa {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}

.icon {
    height: 100px;
}

.card {
    height: 100px;
    display: none;
}

#hildaberg {
    float: right;
    display: flex;
    margin-right: 17.14%;
    height: 1px;
}

#hildaberg:hover .card {
    display: block;
    margin-right: 4px;
}

#cagneycarnation {
    float: right;
    display: flex;
    margin-right: 8.5%;
    margin-top: 10%;
    height: 1px;
}

#cagneycarnation:hover .card {
    display: block;
    display: flex;
    margin-right: 4px;
}

#house {
    float: left;
    display: flex;
    margin-left: 14%;
    margin-top: 10.5%;
}

#house:hover .card {
    display: block;
    display: flex;
    margin-left: 4px;
}

#goopylegrande {
    position: fixed;
    margin-left: 46.8%;
    margin-top: 5.5%;
    display: flex;
    height: 1px;
}

#goopylegrande:hover .card {
    display: block;
    display: flex;
    margin-left: 4px;
}

#shop {
    position: fixed;
    margin-left: 48.4%;
    margin-top: 13.5%;
    display: flex;
    height: 1px;
}

#shop:hover .card {
    display: block;
    display: flex;
    margin-left: 4px;
}

#therootpack {
    position: fixed;
    margin-left: 36.7%;
    margin-top: 20.7%;
    display: flex;
    height: 1px;
}

#therootpack:hover .card {
    display: block;
    display: flex;
    margin-left: 4px;
}

#ribbycroaks {
    position: fixed;
    margin-left: 45.7%;
    margin-top: 29.7%;
    display: flex;
    height: 1px;
}

#ribbycroaks:hover .card {
    display: block;
    display: flex;
    margin-left: 4px;
}

/* Items shop */

table {
    text-align: center;
    width: 100%;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid white;
    border-collapse: collapse;

}

.demonstration {
    width: 75%;
    height: 75%;
}

.coin {
    width: 50px;
    height: 50px;
}

#charms {
    margin-bottom: 500px;
}